
.startBox{
    display: flex;
    justify-content: center;
}
.Start{
    background-color: white;
    color: black;
    width: 80px;
    padding: 2% 5%;
    text-align: center;
    margin-top: 30px;
}