

.App{
  box-shadow: inset 0px 0px 150px 350px black;
  height: 100vh;
  color: white;
}

.word-container,.left-word-container,.right-word-container{
  display: flex;
}

.word-container{
  justify-content: space-evenly;
}